<launch>
	<arg name="odometry_topic" default="/mobile_base_controller/odom" />
	<arg name="flask_app_server_port" default="3000" />
	<arg name="robot_url_param_name" default="/robot_url"/>

	<node name="robot_interface_server" pkg="robot_interface" type="server_flask_app.py" output="screen">
    <remap from="/odom" to="$(arg odometry_topic)"/>
		<param name="flask_app_server_port" value="$(arg flask_app_server_port)" type="int" />
		<param name="robot_url_param_name" value="$(arg robot_url_param_name)" type="string" />
  </node>
</launch>
