<launch>
	<arg name="odometry_topic" default="/mobile_base_controller/odom" />
	<arg name="cmd_vel_topic" default="/mobile_base_controller/cmd_vel" />

	<node name="controller_position_pid" pkg="high_level_controller" type="controller_pid.py" output="screen">
    <remap from="/odom" to="$(arg odometry_topic)"/>
		<remap from="/cmd_vel" to="$(arg cmd_vel_topic)"/>
  </node>
</launch>
